
      h1{
    color: #1797c0;
    font-size: 18px;
    display: block;
    font-weight: normal;
    margin: 0 0 8px;
    line-height: 1;
      }
      .bPageBlock .detailList tr td
      {
      border:none;
      }
      .pbBody table.list tr.dataRow td {
    border-bottom: 1px solid #ededed !important;
    padding: 5px !important;
    text-align: center !important;}
    
      .apexp .bPageBlock .detailList .list {
      border:0;}
      
      .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
      color: #000;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    min-height: 15px;
    text-transform: capitalize;
    background-color:#fff;
    padding-left:10px;
      }
      .apexp .detailList .list .headerRow th{
      background: #AED0DC;
    padding: 0px 15px 0px 5px;
    height: 50px;
    text-align: center;
    border: 0;
    vertical-align: middle;
      }
     Table .detailList .formTable_section_input{
      border: 1px solid #77787A;
    width:50%;
    height: 28px;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 0 0 0 5px;
    display: inline-block;
    line-height: 1;
      }
      .bPageBlock {
    background-color: #fff !important;
    border: none !important;}
    
    .btnDisabled{
   
    font-size: 14px !important;
    height: 24px !important;
    border: 0 !important;
    border-radius: 11px !important;
    padding: 0 15px !important;
    background: #e8e8e9 !important;
    margin-right: 10px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    outline: none !important;
    box-shadow: 0 0 0 0px #428bca inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 4px 0 0 #e8e8e9, 0 4px 0 0px rgba(0,0,0,0.4), 0 4px 4px 1px rgba(0,0,0,0.5) !important;
    transition: all .08s linear !important;
    position: relative !important;
    display: inline-block !important;
    }
    .list_style{
        list-style: none;
        
    padding-top: 10px;
   
        }
         .slds-button:hover ,  .modal_table tr td .btn.slds-button:hover,  .modal_table tr td button:hover{
         
         background: #35b4e9 !important;
         }
      .slds-button, .modal_table tr td .btn.slds-button,  .modal_table tr td button
      {
      color: #fff !important;
    font-size: 14px !important;
    border: 0 !important;
    height: 24px !important;
    border-radius: 11px !important;
    padding: 5px 15px !important;
    background: #1797c0 !important;
    margin-left: 10px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    outline: none !important;
    box-shadow: 0 0 0 0px #428bca inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 4px 0 0 #1797c0, 0 4px 0 0px rgba(0,0,0,0.4), 0 4px 4px 1px rgba(0,0,0,0.5) !important;
    transition: all .08s linear !important;
    position: relative !important;
    display: inline-block !important;
    text-transform: capitalize !important;}
	
	
	
	.modal-content{
      border-radius:11px;}
      .modal-header-ccf {
      
          background: #1797c0;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0;
    box-sizing: border-box;
      }
      .modal_table{
      width:100%;
      }
      .modal_table tr td{
      padding-top:5px;
      }
      
      .modal_table tr td select {
          width: 65%;    
    height: 26px;
    border-radius: 5px;
    border: 1px solid #77787A;
    padding: 0 0 0 1%;
      }
      