.THIS .adjustHelpText .slds-form-element__icon {
    padding : 0 !important;
}

.THIS .slds-input-has-icon .slds-input__icon{
    top:28% !important;
}



/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) {
    .THIS .reschedule-date-responsive {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1279px) {
    .THIS .reschedule-date-responsive {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .THIS .reschedule-date-responsive {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .THIS .reschedule-date-responsive {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
}